<!DOCTYPE html>
<html>
<head>
  <title>Is it going to rain today?</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%#= javascript_pack_tag 'is_it_going_to_rain_today' %>
</head>

<body>
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand"></h3>
          <nav class="nav nav-masthead">
            &nbsp;
          </nav>
        </div>
      </div>
      <div id="core-content">
        <%= yield %>
      </div>
    </div>
  </div>
</div>
</body>
</html>
